{% extends 'base.html' %}

{% block title %}
<title>Кулинария</title>
{% endblock %}

{% block body %}
<div class="alert alert-warning">
    <p>Наш магазин предоставляет закуски собственного приготовления! Мы всегда за
        вкус и качество, так что пожалуйста, наслаждайтесь! В нашем меню имеются:</p>
</div>
<div class="alert alert-info">
        <p><img src="/static/img/12.jpg" width="150" height="100" class="ri">
        Вкусные домашние блинчики с мясом не оставят Вас равнодушными! Тонкие блины на молоке имеют эластичную
        структуру, которая обволакивает сочную начинку (из свинного фарша с жаренным лучком/творогом с любым вареньем/
            капустой и грибами/картошкой и грибами)! Подаются как с корочкой (для любителей жаренных блинов) так
            и без. <br>Все на Ваш выбор, и начинка, и прожарка!</p>
</div>

<div class="alert alert-info">
        <p><img src="/static/img/14.jpeg" width="150" height="100" class="ri">
        Вкусные домашние супы согреют Вас после долгого рабочего дня! В нашем меню имеются различные супы на выбор
            покутелям! Помимо стандартных супов таких как борщ, солянка, щи и т.д. мы также готовим различные крем-супы
            (сырный/грибной/из цветной капусты/томатный/с креветками) и том ям! <br>
            Все на Ваш выбор!</p>
</div>

<div class="alert alert-info">
        <p><img src="/static/img/13.jpg" width="150" height="100" class="ri">
        Вкусные домашние пироги заполнят пустоту в вашем желудке на раз-два! В нашем меню имеются различные пироги на выбор
            покутелям! В нашем меню есть как сладкие пироги (яблоки/клубника/черника/сгущенка с орехами/крем пломбир)
            так и несладкие (лисички с зеленью в сметане/картофельный/мясной/зелень с яйцами/овощной)! <br>
            Все на Ваш выбор!</p>
</div>
{% endblock %}